body {
    font-family: sans-serif;
}

header {
    background-color: rgb(147, 251, 255);
}

h1,h2 {
    text-align: center;
}

a {
    text-decoration:none;
    text-align: center;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid orange;
    border-radius: 15px;
}
